<!DOCTYPE html>
<html>
<head>
	<title>
		{%block title%}
			Homepage
		{% endblock%}
	</title>
	{% load  static %}
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<body>
	<header>
		<div class="branding">
			<h1 class="brand_title">Intern Manager </h1>
		</div>

		<nav class="top_navigation">
			<a href="{% url 'account_home' %}">Home</a> / 
		{% if user.is_authenticated %}
			{% if user.is_staff %}
				<a href="{% url 'account_dashboard'  %}">Dashboard</a> /
			{% else %}
				<a href="{% url 'account_profile' user.username  %}">Profile</a> /
			{% endif %}
			<a href="{% url 'account_logout' %}">Logout</a>
		{% else  %}
			<a href="{% url 'account_register' %}">Sign Up</a> /  
			<a href="{% url 'account_login' %}">Login</a>
		{% endif %}
		</nav>
	</header>
<div class="container">
	{% block content %}
 		<h1>We come to right place.</h1>
 	{%endblock%}
</div>
<footer class="footer">
	<p>&copy; All Rights Reserved - Forever </p>
</footer>

{% load static %}
	<script type="text/javascript" src="{% static "script.js" %}"></script>
</body>
</html>